.chatList {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 70px;
}
.chatList:hover {
  background-color: #e9e7e7;
}

.chatList__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}
.chatList__lines {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-right: 15px;
  margin-left: 15px;

  flex-wrap: wrap;
  min-width: 0;
}
.chatList__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.chatList--name {
  font-size: 17px;
  color: #000;
}
.chatList--date {
  font-size: 12px;
  color: #999;
}
.chatList--lastMsg {
  font-size: 14px;
  color: #999;
  display: flex;
  width: 100%;
}

.chatList--lastMsg p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
